* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Volkhov', serif;
}

/* header */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.header__pd {
  padding: 0 40px;
}

.header .header__layout a {
  position: relative;
  color: #fb801e;
  font-size: 32px;
  transition: all 0.5s;
  cursor: pointer;
}

.header__layout .header__logo {
  font-size: 16px;
  position: absolute;
  left: 40%;
  transform: translateX(-40%);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right-search input {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #eee;
  outline: none;
  background: #fff url(../images/search.png) no-repeat 10px;
  border-radius: 10em;
  transition: all 0.5s;
}

.header__right-search input:focus {
  padding-left: 32px;
  width: 200px;
  border-radius: 20px;
}

.form-control.header-search-box {
  box-shadow: none;
  border-color: #eee;
}

.header__right-dark i {
  color: white;
  font-size: 20px;
  margin: 0 16px;
}

.header__right-menu {
  position: relative;
}

.header__right-menu .header__right-menu-toggle {
  border-color: transparent;
  background: transparent;
}

.header__right-menu .header__right-menu-toggle:focus {
  outline: none;
}

.header__right-menu-toggle i {
  color: white;
  font-size: 30px;
}

.header__right-menu-item {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}

.header__right-menu-layout {
  border-radius: 5px;
  padding: 5px 0;
}

.header__right-menu-content {
  padding: 0px;
  margin: 0;
}

.header__right-menu-item .header__right-menu-content a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s;
  width: 230px;
  display: block;
}

.header__right-menu-item li:hover a {
  color: #fb801e;
}

.header__right-menu-item li {
  list-style: none;
  text-align: center;
  margin-top: 18px;
}

.header__right-menu-item li:nth-child(1) {
  margin-top: 0;
}

/* banner */
.banner {
  position: relative;
  height: 100vh;
}

.banner__layout {}

.banner__content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  z-index: 2;
  width: 40%;
}

.banner__content h2 {
  color: #f4f4f4;
  font-size: 120px;
  font-weight: 600;
  position: absolute;
  top: -30%;
  left: -10%;
  z-index: 0;
}

.banner__content h1 {
  font-size: 50px;
  font-weight: 900;
  position: relative;
}

.banner__content p {
  color: #707070;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 20px 0 50px 0;
}

.banner__content a {
  color: white;
  padding: 16px 34px;
  background-color: #fb801e;
  text-decoration: none;
  border-radius: 30px;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.banner__carousel {
  position: absolute;
  right: 0;
  width: 60%;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 0 0 20px;
}

.banner__carousel .banner__carousel-dot button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.banner__carousel-dot .active {
  background-color: #fb801e;
  width: 12px;
  height: 12px;
}

.banner__carousel-overlay::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0 0 0 / 17%);
  /* z-index: 2; */
}

.banner__carousel img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  /* position: relative;
  z-index: 0; */
}

.banner__carousel-note {
  bottom: 50px;
  right: 20px;
  left: auto;
}

.banner__carousel-note span {
  font-weight: 600;
  font-size: 24px;
}

/* offer */
/*-- container__responsive --*/
.container__responsive {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container__responsive {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .container__responsive {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .container__responsive {
    max-width: 1200px;
  }
}

/*-- //container__responsive --*/

.offer--logo img {
  max-width: 100%;
  height: auto;
}

.offer--item {
  margin-top: 30px;
}

.offer--item a {
  border-radius: 10px;
  border: 1px solid #00000000;
  padding: 2rem 1rem;
  transition: 0.3s ease-in;
  text-decoration: none;
}

.offer--para h4 {
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.offer--para p {
  margin: 10px 0 0 0;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #707070;
}

.offer--item a:hover {
  border: 1px solid #00000036;
}

.offer--item a:hover .offer--para h4 {
  color: #009f4d;
}

/* Gallery */
.gallery {
  padding: 48px 0;
  margin-bottom: 24px;
}

.gallery--list {
  padding: 48px 15px;
}

.gallery .row {
  padding: 0;
}

.gallery--item figure {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.gallery--item figure::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  transform: skewX(-17deg);
}

.gallery--item figure:hover:before {
  animation: toRight 0.95s;
}

@keyframes toRight {
  100% {
    left: 125%;
  }
}

.gallery--item img {
  width: 100%;
}

.column {
  padding: 48px 15px;
}

.gallery--padding {
  padding: 0;
}

.gallery--text {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgb(255 255 255 / 27%);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}

.gallery--para h5 {
  font-size: 22px;
  color: #fb801e;
  font-family: 'Volkhov', serif;
}

.gallery--para h3 {
  color: #060606;
  font-size: 40px;
  font-family: 'Volkhov', serif;
}

.gallery--para p {
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #707070;
  margin: 8px 0px 0px;
}

.btn-style {
  font-size: 16px;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb801e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all .25s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 24px;
}

.btn-style:hover {
  background: #009f4d;
}

/* footer */
.footer {
  padding: 72px 0px;
}

.footer--item h3 {
  font-size: 20px;
  font-family: 'Volkhov', serif;
  color: #060606;
  margin: 0px 0px 30px;
  font-weight: 600;
}

.footer--item p {
  color: #707070;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer--para a {
  text-decoration: none;
  color: #707070;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
}

.para--margin {
  margin: 16px 0px 0px;
}

.footer--logo a {
  font-size: 32px;
  color: #fb801e;
  position: relative;
  text-decoration: none;
  font-family: 'Volkhov', serif;
}

.footer--logo i {
  font-size: 20px;
  color: #fb801e;
  position: absolute;
  top: -5px;
  left: 54px;
}

.mt-24px {
  margin-top: 24px;
  line-height: 27px;
}

.copyRights a {
  text-decoration: none;
  color: #009f4d;
}

.copyRights {
  margin: 48px 0 0;
}

.pl {
  padding-left: 3rem;
}

.subscribe input {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.footer--social {
  margin: 24px 0px 0px;
  padding: 8px 0px 0px;
  list-style: none;
  display: flex;
  gap: 10px;
}

.footer--social a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s linear;
}

.footer--social i {
  font-size: 15px;
}

.footer--social a:hover {
  color: #fb801e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}